@page "/device-overview"

@using DeviceManager.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DeviceStoreContext> DbFactory
@implements IDisposable

<h1>Device Overview</h1>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Failsafe</th>
                    <th>DeviceTypeId</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in devices)
                {
                    <tr>
                        <td class="align-middle">@device.Name</td>
                        <td class="align-middle">@device.Failsafe</td>
                        <td class="align-middle">@device.DeviceTypeId</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="devices/@device.Id">
                                Details
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" disabled="@busy" @onclick="() => DeleteDevice(device.Id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (busy) {
        <div class="text-center">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Device deletion in progress... (for demonstration purpose 3000ms)
        </div>
    }
}

@code {
    private List<Device> devices;
    private DeviceStoreContext dbContext;
    private bool busy;

    protected override async Task OnInitializedAsync()
    {
        busy = true;

        try
        {
            dbContext = DbFactory.CreateDbContext();
            devices = dbContext.Devices.ToList();
        }
        finally
        {
            busy = false;
        }

        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        dbContext.Dispose();
    }

    async Task DeleteDevice(int id)
    {
        Console.WriteLine($"Delete Device with id: \"{id}\" is not implemented yet.");
        busy = true;

        var device = await dbContext.Devices.FirstAsync(entity => entity.Id == id);

        if (device != null)
        {
            await Task.Delay(3000);
            dbContext.Devices.Remove(device);
            await dbContext.SaveChangesAsync();
            devices = await dbContext.Devices.ToListAsync();
        }

        busy = false;
        StateHasChanged();
    }
}
