@page "/device-overview"

@using DeviceManager.Data
@inject IDeviceSerivce DeviceService

<h1>Device Overview</h1>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Failsafe</th>
                    <th>DeviceTypeId</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in devices)
                {
                    <tr>
                        <td class="align-middle">@device.Name</td>
                        <td class="align-middle">@device.Failsafe</td>
                        <td class="align-middle">@device.DeviceTypeId</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="devices/@device.Id">
                                Details
                            </a>
                        </td>
                        <td>
                            @* @TODO Implement delete *@
                            <button type="button" class="btn btn-danger" @onclick="() => DeleteDevice(device.Id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private IList<Device> devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await DeviceService.GetDevicesAsync();
    }

    async Task DeleteDevice(string id)
    {
        Console.WriteLine($"Delete Device with id: \"{id}\" is not implemented yet.");
    }
}
