@page "/device-overview"

@using DeviceManager.Data
@inject IDeviceSerivce DeviceService

<h1>Device Overview</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Failsafe</th>
                <th>DeviceTypeId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr>
                    <td class="align-middle">@device.Name</td>
                    <td class="align-middle">@device.Failsafe</td>
                    <td class="align-middle">@device.DeviceTypeId</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="devices/@device.DeviceId">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Device[] devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await DeviceService.GetDevicesAsync();
    }
}
